@model Movie

<div style="border: solid 2px black">
    <p>Title: @Model.Title</p>
    <p>Movie id: @Model.ID</p>
    <p>Genre: @Model.Genre</p>
    <p>Run Time: @Model.Runtime</p>
   
    <br />
</div>
